*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp

# Ignore Sublime Text project files
*.sublime-project
*.sublime-workspace

# Mac Finder files
.DS_Store

config/initializers/secret_token.rb
config/secrets.yml

/.bundle
/vendor/bundle

.rvmrc