@import "bourbon";
@import "grid_settings";
@import "neat";
@import "partials/colors";
// @import "partials/breakpoints";

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 87.5%;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 1em 0;
  line-height: 1.5em;
}

header {
  @include outer-container;
}

div.main {
  @include outer-container;
}

div.movie-view {
  @include row();
  margin-bottom: 4em;

  div.movie-view-col1 {
    @include span-columns(2);
  }

  div.movie-view-col2 {
    @include span-columns(10);
    h3 {
      margin-top: 0;
    }
    span {
      vertical-align: middle;
      display: inline-block;
      height: 50px;
    }
    .links {
      margin-right: 1em;
    }
  }
}