// Rotten Tomatoes Style Guide Colors
$black: #000;
$yellow: #fdee00;
$green: #516d39;

// Other
$border-color: #bbb;
$active-border-color: #ccc;
$active-background-color: #eee;
$background-color: #efefef;
$table-background: #f6f6f6;
$error-background: #f2dede;
$error-border: #eed3d7;
$error-color: #b94a48;